{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Bootstrap Website
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>    
    
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
      </head>
    <body>
      <div class="row">
        <center><b><i>Designed and Developed By Your Name</i></b></center>
      </div><!--Footer div close-->
        </body>
    </html>
